// rem 转换函数
@function pxToRem($px) {
  $rem: 75px;
  @return ($px / $rem) + rem;
}
// reset css
fieldset,hr,img{border:none}article,aside,blockquote,body,button,dd,details,dl,dt,fieldset,figcaption,figure,footer,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,lengend,li,main,nav,ol,p,pre,section,summary,td,textarea,th,ul{margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}body{font:14px/1.5 "Microsoft YaHei","Hiragino Sans GB","Microsoft YaHei light",Arial,Helvetica,sans-serif,"宋体"}button,h1,h2,h3,h4,h5,h6,input,select,textarea{font-size:100%}small{font-size:12px}ol,ul{list-style:none}a,a:hover{text-decoration:none}q:after,q:before{content:''}legend{color:#000}button{outline:0;cursor:pointer;border:none;}table{border-collapse:collapse;border-spacing:0}hr{height:1px}html{overflow-y:scroll}img{max-width:100%}.clear-fix:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:"."}input{outline:none;border:none;}

.mint-tab-item-label {
  font-size: pxToRem(26px);
}

.btn-w {
  width: pxToRem(500px);
  height: pxToRem(80px);
  background-color: #ffda44;
  font-size: pxToRem(30px);
  color: #02747f;
  margin-top: pxToRem(40px);
  border-radius: 0;
}
.btn-s {
  width: pxToRem(180px);
  height: pxToRem(70px);
  background-color: #ffda44;
  font-size: pxToRem(28px);
  border-radius: 0;
}
.mint-msgbox {
  border-radius: pxToRem(20px);
  width: pxToRem(600px);
  box-sizing: border-box;
}
.mint-msgbox-confirm {
  color: #007481;
}
