@import './mixin.scss';

// ***************** variable start ***************** //
// 标准色
$bgColor: #f7f7f7;
$colorMain: #ff5757;
$colorAssist: #f69210;

// 标准字号
$fontSizeMain: pxToRem(28px);
$fontSizeLargeX: pxToRem(34px);
$fontSizeLarge: pxToRem(32px);
$fontSizeMedium: pxToRem(26px);
$fontSizeSmall: pxToRem(24px);
$fontSizeSmallX: pxToRem(22px);

// 字体颜色
$fontColorMain: #343434;
// $fontColorAssist: #707070;
$fontColorAssist: #a0a0a0;
$fontColorPlaceholder: #c4c4c4;
$fontColorClickable: #ff5757;

// 按钮
$btnColorClickable: #ff5757;
$btnColorClicked: #e23b3b;
$btnColorDisable: #c4c4c4;
$btnBorderRadius: pxToRem(10px);
// ***************** variable end ***************** //

// ***************** pre-setting start ***************** //
body {
  color: $fontColorMain;
  font-size: $fontSizeMain;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}
// 防止 font-boosting
html * {
  max-height: 100%;
  -webkit-text-size-adjust: none;
}
// ***************** pre-setting end ***************** //
